<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging" />
		<section name="msmqDistributorSettings" type="EnterpriseLibrary.Logging.MsmqDistributor.Configuration.MsmqDistributorSettings, MsmqDistributor"/>
	</configSections>


	<loggingConfiguration tracingEnabled="true" defaultCategory="default">
		<logFilters>
		</logFilters>

    <categorySources>
      <add
				name="*"
				switchValue="All">
        <listeners>
          <add name="sharedMockListener" />
        </listeners>
      </add>
    </categorySources>

    <listeners>
      <add name="sharedMockListener" 
				type="EnterpriseLibrary.Logging.TestSupport.TraceListeners.MockTraceListener, EnterpriseLibrary.Logging.TestSupport" 
				listenerDataType="EnterpriseLibrary.Logging.TestSupport.TraceListeners.MockTraceListenerData, EnterpriseLibrary.Logging.TestSupport" 
				/>
		</listeners>

    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners/>
      </errors>
    </specialSources>
    
    <formatters>
		</formatters>
	</loggingConfiguration>

	<msmqDistributorSettings
		msmqPath=".\Private$\entlib"
		queueTimerInterval="1000" 
		serviceName="Msmq Distributor" />
</configuration>