<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add listenerDataType="EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="EnterpriseLibrary.Logging.BVT.TestObjects.MyCustomTraceListener, EnterpriseLibrary.Logging.BVT"
        name="Custom Trace Listener" initializeData="" formatter="Custom Formatter" />
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.BVT.TestObjects.CustomFormatter, EnterpriseLibrary.Logging.BVT"
        name="Custom Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="EnterpriseLibrary.Logging.Filters.CategoryFilter, EnterpriseLibrary.Logging"
        name="Category">
        <categoryFilters>
          <add name="Denied" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Custom Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Custom Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Custom Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Custom Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>