<configuration>
    <configSections>
      <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data" requirePermission="true" />
      <section name="loggingConfiguration1" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration2" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration3" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration4" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration5" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
      <section name="loggingConfiguration6" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    </configSections>
  <dataConfiguration defaultDatabase="Connection String" />
  <connectionStrings>
    <add name="Connection String" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Logging;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration1 name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          source="Enterprise Library Logging" formatter="Text Formatter"
          log="Application" machineName="." traceOutputOptions="None" asynchronous="true"/>
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration1>
  <loggingConfiguration2 name="" tracingEnabled="true" defaultCategory="General">
      <listeners>
        <add name="Flat File Trace Listener" type="EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
            listenerDataType="EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
            fileName="AsynchTestingConfigForFlatFile.log" asynchronous="true" asynchronousDisposeTimeout="00:00:10"
                asynchronousBufferSize="3000" />
      </listeners>
      <formatters>
        <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
            template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
            name="Text Formatter" />
      </formatters>
      <categorySources>
        <add switchValue="All" name="General">
          <listeners>
            <add name="Flat File Trace Listener" />
          </listeners>
        </add>
      </categorySources>
      <specialSources>
        <allEvents switchValue="All" name="All Events" />
        <notProcessed switchValue="All" name="Unprocessed Category" />
        <errors switchValue="All" name="Logging Errors &amp; Warnings">
          <listeners>
            <add name="Flat File Trace Listener" />
          </listeners>
        </errors>
      </specialSources>
    </loggingConfiguration2>
  <loggingConfiguration3 name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          fileName="AsynchTestingConfigForRollingFlatFile.log" formatter="Text Formatter"
          rollFileExistsBehavior="Increment" rollInterval="Minute" rollSizeKB="10"
          timeStampPattern="yyyy" maxArchivedFiles="10" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration3>
  <loggingConfiguration4 name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="XML Trace Listener" type="EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          fileName="XMLFile.xml" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration4>
  <loggingConfiguration5 name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="XML Trace Listener" type="EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          fileName="XMLFileInfinite.xml" asynchronous="true"  asynchronousDisposeTimeout="infinite"
          asynchronousBufferSize="10000"/>
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration5>
  <loggingConfiguration6 name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="XML Trace Listener" type="EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          fileName="XMLFileShortTimespan.xml" asynchronous="true"  asynchronousDisposeTimeout="00:00:01"
          asynchronousBufferSize="10000"/>
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="XML Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration6>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Database Trace Listener" type="EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          databaseInstanceName="Connection String" writeLogStoredProcName="WriteLog"
          addCategoryStoredProcName="AddCategory" asynchronous="true" 
          asynchronousBufferSize="30000"/>
      <add name="Event Log Listener" type="EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          source="Enterprise Library Logging" formatter="Text Formatter"
          log="Application" machineName="." traceOutputOptions="None" asynchronous="true"/>
    </listeners>
    <formatters>
      <add type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
