<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
	</configSections>

	<loggingConfiguration
		name="Logging Application Block"
		tracingEnabled="true"
		defaultCategory="General"
		logWarningsWhenNoCategoriesMatch="true"
		filter="LogEnabledFilter"
		revertImpersonation="false">

		<listeners>

			<add
				name="Flat File TraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				fileName="LogFile.log"
				formatter="Text Formatter" />

			<add
				name="Formatted EventLog TraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				source="Enterprise Library Logging"
				log="Application"
				machineName="."
				formatter="Text Formatter" />

			<add
				name="Email TraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				toAddress="somebody@example.com"
				fromAddress="sender@example.com"
				subjectLineStarter="Subject"
				subjectLineEnder="End of Subject"
				smtpServer="localhost"
				smtpPort="25"
				formatter="Text Formatter" />

			<add
				name="Console TraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.ConsoleTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				formatter="Text Formatter" />

			<add
				name="MockTraceListenerFixtureListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport.MockTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				formatter="Text Formatter" />

			<add
				name="WmiTraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport.WmiTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				formatter="Text Formatter" />

		</listeners>

		<formatters>
			<add
				name="Text Formatter"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}" />
		</formatters>

		<categorySources>
			<add
				name="General"
				switchValue="All"
				autoFlush="true">
				<listeners>
					<add name="Flat File TraceListener" />
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</add>

			<add
				name="Email"
				switchValue="All"
				autoFlush="true">
				<listeners>
					<add name="Email TraceListener" />
				</listeners>
			</add>

			<add
				name="Console"
				switchValue="All"
				autoFlush="true">
				<listeners>
					<add name="Console TraceListener" />
				</listeners>
			</add>
		</categorySources>

		<specialSources>
			<allEvents switchValue="All" autoFlush="true" name="All Events">
				<listeners>
					<add name="Flat File TraceListener" />
				</listeners>
			</allEvents>

			<notProcessed switchValue="All" autoFlush="true" name="Unprocessed Category">
				<listeners>
					<add name="WmiTraceListener" />
				</listeners>
			</notProcessed>

			<errors switchValue="All" autoFlush="true" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatting Error TraceListener" />
				</listeners>
			</errors>
		</specialSources>

	</loggingConfiguration>
</configuration>
