<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0" />
	</configSections>

	<loggingConfiguration tracingEnabled="true" defaultCategory="MockCategoryOne">
		<logFilters />
		<categorySources />
		<formatters />

		<specialSources>
			<errors name="errors" switchValue="All" />
		</specialSources>

    <listeners>
      <add name="invalid type" 
				type="EnterpriseLibrary.Logging.TestSupport.TraceListeners.MockTraceListener, EnterpriseLibrary.Logging.TestSupport" 
				listenerDataType="an invalid type" 
				/>
		</listeners>

  </loggingConfiguration>
</configuration>
